@{
  Layout = "_Layout";
}

<div class="container">

<h1>~Stylists~</h1>


@foreach (var stylist in Model)
{
  <h2><a href='/stylists/@stylist.GetId()'>@stylist.GetName()</a></h2>
}
<br>

 <h4><a href='/stylists/new'>Add a new stylist</a></h4>
<h4><a href='/'>Home</a></h4>

</div>