@{
  Layout = "_Layout";
}

<div class="container">

<h1>Add a stylist</h1>
<br>
<form action="/stylists" method="post">
  <label for="stylistName">Stylist name</label>
  <input id="stylistName" name="stylistName" type="text">
  
  <button type="submit">Add</button>
</form>
<br>
<h4><a href="/">Home</a></h4>
<h4><a href="/stylists">Stylists</a></h4>
<h4><a href="/specialties">Specialties</a></h4>

</div>