@{
  Layout = "_Layout";
}

<div class="container">

<h1>~Specialties~</h1>
<br>
@foreach (var specialty in Model)
{
  <h2><a href='/specialties/@specialty.GetId()'>@specialty.GetName()</a></h2>
}

<br>

 <h4><a href='/specialties/new'>Add a new specialty</a></h4>
<h4><a href='/'>Home</a></h4>

</div>