@{
  Layout = "_Layout";
}

<div class="container">

<h1>Add a specialty</h1>

<form action="/specialties" method="post">
  <label for="specialtyName">Specialty name</label>
  <input id="specialtyName" name="specialtyName" type="text">
  
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/specialties">Back to specialties.</a></p>

</div>