@{
  Layout = "_Layout";
}

<div class="container">

<h1>~New specialty~</h1>

<form action="/specialties" method="post">
  <label for="specialtyName">Specialty name</label>
  <input id="specialtyName" name="specialtyName" type="text">
  
  <button type="submit">Add</button>
</form>

<h4><a href="/">Home</a></h4>
<h4><a href="/specialties">Specialties</a></h4>
<h4><a href="/stylists">Stylists</a></h4>

</div>