@{
  Layout = "_Layout";
}

<div class="container">
<h1>Welcome to Curl Up and Dye!</h1>
  <h3><a href='/stylists'>Our Stylists</a></h3>
  <h3><a href='/specialties'>Our Specialties</a></h3>
  <h3><a href='/clients'>Our Clients</a></h3>
</div>
