@{
  Layout = "_Layout";
}

<div class="container">
<h1>Welcome to Curl Up and Dye!</h1>
  <h3><a href='/stylists'>View a list of our current stylists:</a></h3>
  <h3><a href='/specialties'>View a list of specialties currently on offer:</a></h3>
</div>
