@{
  Layout = "_Layout";
}

<div class="container">

<h1>@Model["client"].GetName() has been removed from the databsse!</h1>
<h4><a href='/stylists/@Model["stylist"].GetId()'>Back to @Model["stylist"].GetName()</a></h4>
<h4><a href='/'>Home</a></h4>
</div>