@{
  Layout = "_Layout";
}

<div class="container">

<h1>@Model["client"].GetName() has been removed from the databse!</h1>
<p><a href='/stylists/@Model["stylist"].GetId()'>Back to the list of @Model["stylist"].GetName()'s clients</a></p>

</div>