@{
  Layout = "_Layout";
}

<div class="container">

<h1>Client Details: </h1>

<h2>Client Name: @Model["client"].GetName()</h2>
<h3>Stylist: @Model["stylist"].GetName()</h3>
<h3>Client Phone: @Model["client"].GetPhone()</h3>


<a href='/stylists/@Model["stylist"].GetId()/clients/@Model["client"].GetId()/edit'>Edit this Client</a>
<br>
<a href='/stylists/@Model["stylist"].GetId()/clients/new'>Add a new client</a>
<br>
<p><a href='/stylists/@Model["stylist"].GetId()/clients/@Model["client"].GetId()/delete'>Delete this client</a></p>
<br>
<a href='/stylists'>View all stylists</a>

</div>