@{
  Layout = "_Layout";
}

<div class="container">

<h1>Client Details: </h1>

<h2>Name: @Model["client"].GetName()</h2>
<h3>Stylist: @Model["stylist"].GetName()</h3>
<h3>Client Phone: @Model["client"].GetPhone()</h3>

<br>

<h4><a href='/stylists/@Model["stylist"].GetId()/clients/@Model["client"].GetId()/edit'>Edit</a></h4>

<h4><a href='/stylists/@Model["stylist"].GetId()/clients/new'>New</a></h4>

<h4><a href='/stylists/@Model["stylist"].GetId()/clients/@Model["client"].GetId()/delete'>Delete</a></h4>

<h4><a href='/stylists'>Stylists</a></h4>

</div>